.config-controller-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}
@media screen and (min-width: 768px) {
  .config-controller-container {
    align-items: center;
  }
}

.responsive-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .responsive-controls-container {
    max-width: 1140px;
  }
}

.layout-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .layout-heading {
    font-size: 48px;
  }
}

.input-label-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.checkbox-input {
  width: 14px;
  height: 14px;
}

.label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
}
